body {
    min-width: 300px;
}

.header-title {
    text-transform: uppercase;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

button {
    cursor: pointer;
}

#closeAllDiv {
    text-align: center;
}

#closeAllTabsButton {
    background-color: #f44336;
    color: white;
    margin-top: 5px;
    /*border: none;*/
    /*padding: 5px 10px;*/
    cursor: pointer;
    /*font-size: 16px;*/
    border-radius: 5px;
    width: 100%;
}

#closeAllTabsButton:hover {
    background-color: #e53935;
}

#closeAllTabsButton:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

#closeOtherDiv {
    text-align: center;
}

#closeOtherButton {
    background-color: blue;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#closeOtherButton:hover {
    background-color: darkblue;
}

#closeOtherButton:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Group styles */
.group-count {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.group-name {
    flex: 1;
    text-align: left;
}

.group-name.highlight {
    color: green;
}

.close-group-button {
    background-color: transparent; /* Transparent background */
    color: grey; /* Grey text color */
    border: 1px solid grey; /* Grey border */
    border-radius: 999px; /* Rounded corners */
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    min-width: 22px;
    height: 22px;
    flex: 0;
}

.close-group-button:hover {
    background-color: #f44336; /* Red background on hover */
    color: white; /* White text color on hover */
    border: 1px solid white; /* White border on hover */
}

.close-group-button:disabled {
    background-color: #d3d3d3; /* Gray color when disabled */
    cursor: not-allowed;
}


.add-current-tab-button {
    background-color: transparent; /* Transparent background */
    color: grey; /* Grey text color */
    border: 1px solid grey; /* Grey border */
    border-radius: 999px; /* Rounded corners */
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
    min-width: 22px;
    height: 22px;
    flex: 0;
}

.add-current-tab-button:hover {
    background-color: #45a049; /* Green background on hover */
    color: white; /* White text color on hover */
    border: 1px solid white; /* White border on hover */
}

.add-current-tab-button:disabled {
    background-color: #d3d3d3; /* Gray color when disabled */
    cursor: not-allowed;
}

.remove-from-group-button {
    background-color: transparent; /* Transparent background */
    color: grey; /* Grey text color */
    border: 1px solid grey; /* Grey border */
    border-radius: 999px; /* Rounded corners */
    font-size: 14px;
    cursor: pointer;
    min-width: 22px;
    height: 22px;
    flex: 0;
}

.remove-from-group-button:hover {
    background-color: #f44336; /* Red background on hover */
    color: white; /* White text color on hover */
    border: 1px solid white; /* White border on hover */
}

.remove-from-group-button:disabled {
    background-color: grey; /* Gray color when disabled */
    cursor: not-allowed;
}

.close-all-tabs-button {
    margin-top: 5px;
    background-color: #f44336; /* Red background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 8px 16px; /* Padding for the button */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    width: 100%;
}

.close-all-tabs-button:hover {
    background-color: #e53935; /* Darker red on hover */
}

.close-all-tabs-button:disabled {
    background-color: #e0e0e0; /* Grey background when disabled */
    color: #9e9e9e; /* Grey text color when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
    opacity: 0.6; /* Slightly transparent when disabled */
}

.close-other-tabs-button {
    margin-top: 5px;
    background-color: #2196F3; /* Blue background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 8px 16px; /* Padding for the button */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    width: 100%;
}

.close-other-tabs-button:hover {
    background-color: #1976D2; /* Darker blue on hover */
}

.close-other-tabs-button:disabled {
    background-color: #e0e0e0; /* Grey background when disabled */
    color: #9e9e9e; /* Grey text color when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
    opacity: 0.6; /* Slightly transparent when disabled */
}

.move-tabs-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 8px 16px; /* Padding for the button */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    width: 100%;
    margin-top: 10px;
}

.move-tabs-button:hover {
    background-color: #388E3C; /* Darker green on hover */
}

.move-tabs-button:disabled {
    background-color: #e0e0e0; /* Grey background when disabled */
    color: #9e9e9e; /* Grey text color when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
    opacity: 0.6; /* Slightly transparent when disabled */
}
